@import "reset.less";

@background: #dadada;
@white: #fefefe;
@black: #333333;
@red: #d0644d;

body {
  background-color: @background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border() {
  border: 2px solid @black;
}

.test-border-1() {
  border: 2px dashed green;
}
.test-border-2() {
  border: 2px dashed purple;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .border;
  border-radius: 10px;
  width: 80%;
  margin-top: 100px;
  background-color: @red;
}

.keys {
  width: 94%;
  margin-top: 50px;
}

.white-keys {
  position: relative;
  height: 375px;
  display: flex;
  align-items: stretch;
  z-index: 2;
  div {
    background-color: @white;
    .border;
    flex: 1 0 6.667%;
  }
}

.black-keys {
  position: relative;
  top: 250px;
  height: 250px;
  display: flex;
  align-items: stretch;
  div {
    background-color: @black;
    .border;
    width: 4.445%;
    z-index: 3;
  }
}

.black-key-margin {
  margin-left: 2.222%;
}

.shift-left {
  margin-left: 4.445%;
}

.whole-step-margin {
  margin-left: 8.889%;
}
