@import "reset.less";
@import "keyboard.less";

@background: #dadada;
@white: #fefefe;
@black: #333333;
@red: #d0644d;

.border() {
  border: 2px solid @black;
}

.test-border-1() {
  border: 2px dashed green;
}
.test-border-2() {
  border: 2px dashed purple;
}

body {
  background-color: @background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.synth {
  display: flex;
  justify-content: center;
  .border;
  border-radius: 10px;
  width: 80%;
  margin-top: 100px;
  background-color: @red;
}
